@import "tailwindcss";
@plugin 'flowbite-react/plugin/tailwindcss';
@source '../../.flowbite-react/class-list.json';

@source '../../node_modules/flowbite/**/*.js';

@custom-variant dark (&:where(.dark, .dark *));

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, #e2e2e2);
  }
}

@layer components {
  /** form components start */
  .form-input-field {
    @apply appearance-none  bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-xs focus:ring-primary-600 focus:border-primary-600 block w-full p-1.5;
  }

  .form-input-label {
    @apply block mb-2 text-sm font-medium text-gray-900 dark:text-white;
  }

  .form-input-description {
    @apply text-xs mt-1 text-gray-500 dark:text-gray-400;
  }

  .form-title {
    @apply text-lg font-semibold dark:text-white;
  }

  .form-subtitle {
    @apply text-gray-500 dark:text-gray-400 text-sm;
  }

  /** form components end  */

  .btn-primary {
    @apply cursor-pointer items-center justify-center px-4 py-2 text-sm font-medium text-white rounded-xs bg-primary-700 hover:bg-primary-800 focus:ring-2 focus:ring-primary-300 dark:bg-primary-600 dark:hover:bg-primary-700 focus:outline-none dark:focus:ring-primary-800;
  }

  .btn-secondary {
    @apply cursor-pointer inline-flex items-center px-4 py-2 text-sm font-medium text-center text-gray-900 focus:outline-none bg-white rounded border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700;
  }

  .btn-blue {
    @apply cursor-pointer rounded bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600;
  }

  .btn-red {
    @apply border-0 inline-flex items-center px-4 py-2 border border-transparent shadow-sm text-sm font-medium rounded text-white bg-red-600 hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500 sm:order-1 sm:ml-3 cursor-pointer;
  }

  .btn-normal {
    @apply bg-white py-2 px-4 inline-flex border border-gray-300 rounded shadow-sm text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500 cursor-pointer;
  }

  .btn-inline-edit {
    @apply text-sm text-gray-400 hover:text-blue-600 cursor-pointer;
  }

  .btn-inline-delete {
    @apply text-sm text-gray-400 hover:text-red-600 cursor-pointer;
  }

  .link {
    @apply text-sm font-medium text-primary-600 hover:underline;
  }

  .nav-selected {
    @apply bg-gray-500 text-white hover:bg-gray-500 hover:text-white px-3 py-2 rounded text-sm font-medium;
  }

  .nav-unselected {
    @apply text-gray-300 hover:bg-gray-500 hover:text-white px-3 py-2 rounded text-sm font-medium;
  }

  .svg-icon {
    @apply text-gray-400 group-hover:text-gray-500 flex-shrink-0 -ml-1 mr-3 h-6 w-6;
  }

  .selected {
    @apply bg-gray-200 text-gray-900 hover:bg-gray-200 rounded px-3 py-2 flex items-center text-sm font-medium;
  }

  .unselected {
    @apply text-gray-900 hover:text-gray-900 hover:bg-gray-50 rounded px-3 py-2 flex items-center text-sm font-medium;
  }

  .table-head {
    @apply px-6 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase whitespace-nowrap;
  }

  .table-cell {
    @apply px-6 py-4 overflow-auto text-sm text-gray-700 max-w-full;
  }

  .table {
    @apply min-w-full divide-y divide-gray-200;
  }

  .table-body {
    @apply bg-white divide-y divide-gray-200;
  }

  .unselected-nav {
    @apply text-gray-300 hover:bg-gray-500 hover:text-white rounded-sm px-3 py-2 text-sm font-medium;
  }

  .selected-nav {
    @apply bg-gray-500 text-white hover:bg-gray-500 hover:text-white rounded-sm px-3 py-2 text-sm font-medium;
  }

  .selected-tab {
    @apply block py-3 px-4 border-b-2 text-primary-600 hover:text-primary-600 border-primary-600;
  }

  .unselected-tab {
    @apply block py-3 px-4 text-gray-500 dark:text-gray-400 hover:text-primary-600 hover:border-b-2 hover:border-primary-600;
  }
}

@utility no-scrollbar {
  /* Hide scrollbar for Chrome, Safari and Opera */
  &::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* @layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 221.2 83.2% 53.3%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 221.2 83.2% 53.3%;
    --radius: 0.5rem;
  }
} */

/* [type="checkbox"],
[type="radio"] {
  --tw-shadow: 0 0 #0000;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #fff;
  background-origin: border-box;
  border-color: #6b7280;
  border-width: 1px;
  color: #1c64f2;
  display: inline-block;
  flex-shrink: 0;
  height: 1rem;
  padding: 0;
  -webkit-print-color-adjust: exact;
  print-color-adjust: exact;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  vertical-align: middle;
  width: 1rem;
} */
/* .dark [type="checkbox"]:checked,
.dark [type="radio"]:checked,
[type="checkbox"]:checked,
[type="radio"]:checked {
  background-color: currentColor;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 0.55em 0.55em;
  border-color: transparent;
} */
/* [type="checkbox"]:checked {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg aria-hidden='true' xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 16 12'%3E%3Cpath stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M1 5.917 5.724 10.5 15 1.5'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: 0.55em 0.55em;
  -webkit-print-color-adjust: exact;
  print-color-adjust: exact;
} */

/* @layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
} */

.custom-input-editor .ql-editor {
  height: 300px;
  /* overflow-y: hidden; */
  resize: none;
}

.custom-input-editor .ql-container {
  border-bottom-left-radius: 0.375rem;
  border-bottom-right-radius: 0.375rem;
  background: white;
}

.custom-input-editor .ql-snow.ql-toolbar {
  display: block;
  background: #eaecec;
  border-top-left-radius: 0.375rem;
  border-top-right-radius: 0.375rem;
}

body {
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
}

.select__input:focus {
  --tw-ring-color: transparent;
}

.content-container .ql-editor {
  padding: 0;
}

.ql-container > .ql-editor {
  font-size: 14px !important;
}
.ql-container > .ql-editor {
  min-height: 30rem !important;
}

.ql-editor img {
  padding: 0.3rem 0 !important;
}

.ql-editor p {
  padding: 0.3rem 0 !important;
}

.ql-editor li {
  padding: 0.2rem 0 !important;
}
